@import url('https://fonts.googleapis.com/css?family=Anton');

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
img, embed,
object, video {
  max-width:100%;
}

h1{font-family: 'Anton', sans-serif}
h2{font-family: 'Josefin Sans', sans-serif}
p{font-family: 'Indie Flower', sans-serif;}
body {color: #ffffff;text-align:center;background-size: 10%;}

.container {display: flex;flex-wrap: wrap;}

.box {overflow:auto;clear:both;margin:auto;padding:2px 2px 2px 2px;border:1px;solid #DDD;-webkit-box-shadow: 1px 1px 7px rgb(81, 141, 203);-moz-box-shadow: 1px 1px 7px rgb(81, 141, 203);
    box-shadow: 1px 1px 7px rgb(81, 141, 203);border-radius:5px;-webkit-border-radius:5px;-moz-border-radius:5px;width: 300px;max-width: 100%;height: 300px;}

.header{font-family: 'Anton';font-style: normal;color: black;}

.sub-header{font-family: 'Josefin Sans';font-style: italic;color: rgb(98, 103, 102);}

.dark_blue {background-color: white;opacity: .75;font-family: 'Indie Flower', serif;font-style: normal;color: black;}

.light_blue {font-family: 'Indie Flower', serif;font-style: normal;color: black;}

.green {background-color: white;opacity: .75;font-family: 'Indie Flower', serif;font-style: normal;color: black;}

.purple{font-family: 'Indie Flower', serif;font-style: normal;color: black;}

.footer{float:inline-end; margin: auto; margin-top: 0; padding-top: 0;padding-left: 0; width: 100%; background-color: rgb(76, 135, 205);font-family: 'Josefin+Sans';
font-style: italic;color: white;}

@media (min-width: 450px) {
    .dark_blue {
        width: 100%;

    }
    .light_blue {
        width: 100%;
        {
          max-width: 100%
        }

    }
    .green{
      width: 100%;
    }
    .purple{
      width: 100%;
    }

@media (min-width: 485px) {
    .dark_blue, .light_blue {
        width: 45%;
    }
    .green, .purple {
        width: 45%;
    }
}

@media (min-width: 842px) {
    .dark_blue, .light_blue {
        width: 20%;
    }
    .green, .purple {
        width: 20%;
    }
}
img {
  max-width: 100%;
  height: auto;
}
